:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* #root {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
} */
